:root {
    background: rgb(238, 193, 180);
    background: linear-gradient(135deg, rgba(238, 193, 180, 1) 0%, rgba(255, 244, 229, 1) 100%);
    font-size: 62.5%;
    box-sizing: border-box;
}

html,
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}

body {
    background-image: url("https://image.freepik.com/free-photo/white-fabric-cloth-texture-background-design-art-work_38607-388.jpg");
    background-size: cover;
    font-family: 'Gamja Flower', Courier, monospace;
    font-size: 20px;
    color: rgb(155, 69, 69);
}

.top-right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    filter: drop-shadow(-0.2rem 0.2rem 0.6rem rgba(100, 9, 30, 0.8));
}

.top-right .time {
    color: white;
    position: absolute;
    right: 60px;
    top: 10px;
    width: 52px;
    text-align: right;
    transform: rotate(14deg);
    font-size: 3rem;
    font-family: 'Helvetica', Courier, monospace;
    text-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.8);
}

.controls {
    position: absolute;
    left: 20vw;
    right: 25vw;
    top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 1rem white;
}

.controls #new-btn {
    background: indianred;
    border-radius: 5px;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 0 0.2rem 0.5rem 0.3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.controls #new-btn:hover {
    transform: scale(0.95);
}

.controls.success {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.controls.success #new-btn {
    margin: 2vw;
}

.controls.success p {
    display: none;
}

#notes {
    padding: 160px 160px 100px 100px;
    position: relative;
}

#notes .sticky {
    cursor: move;
    display: inline-block;
    position: relative;
    padding: 42px;
    padding-top: 35px;
    width: 247px;
    height: 247px;
    display: inline-flex;
    flex-direction: column;
    justify-content: stretch;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(-0.2rem 0.4rem 0.8rem rgba(100, 9, 30, 0.3));
    opacity: 0;
    transform: translateY(-15px);
    transition: all 0.25s ease;
    transition-property: transform, opacity;
}

#notes .sticky:hover {
    transform: scale(1.05) !important;
}

#notes .sticky textarea {
    font-family: inherit;
    resize: none;
    border: none;
    background: none;
    color: white;
}

#notes .sticky textarea.note-title {
    font-size: 2.6rem;
    height: 2.2rem;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.9);
}

#notes .sticky .note-content {
    font-size: 2.4rem;
}

#notes .sticky textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#notes .sticky .time {
    color: rgba(255, 255, 255, 0.8);
}

#notes .sticky .delete {
    position: absolute;
    top: 0.8rem;
    right: 0;
    padding: 0 4.5rem 0 0;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

#notes .s-1 {
    background-image: url("https://github.com/nemethak/pantone-notes/blob/main/graphics/16-1546.jpg?raw=true");
}

#notes .s-1.sticky .note-content {
    color: rgb(247, 213, 213);
}

#notes .s-2 {
    background-image: url("https://github.com/nemethak/pantone-notes/blob/main/graphics/166c.jpg?raw=true");
}

#notes .s-2.sticky .note-content {
    color: rgb(255, 229, 159);
}

#notes .s-3 {
    background-image: url("https://github.com/nemethak/pantone-notes/blob/main/graphics/18-1759.jpg?raw=true");
}

#notes .s-3.sticky .note-content {
    color: rgb(247, 162, 162);
}

#notes .s-4 {
    background-image: url("https://github.com/nemethak/pantone-notes/blob/main/graphics/18-1325.jpg?raw=true");
}

#notes .s-4.sticky .note-content {
    color: rgb(229, 180, 151);
}

#theme-selector {
    opacity: 0;
    transition: all 0.2s ease;
    position: absolute;
    top: -2px;
    right: -60px;
    display: grid;
    grid-template-columns: repeat(2, 28px);
    grid-auto-rows: 28px;
    grid-gap: 5px;
    place-items: stretch;
    background: rgba(109, 46, 81, 0.35);
    padding: 5px;
    border-radius: 0.5rem;
}

#theme-selector>div {
    cursor: pointer;
    background: white;
    border-radius: 50%;
    transition: inherit;
    background-size: 200%;
    background-position: 50% 15%;
}

#theme-selector>div:hover {
    transform: scale(1.4);
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("https://giffiles.alphacoders.com/142/14259.gif");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    filter: brightness(0.8);
    mix-blend-mode: overlay;
    pointer-events: none;
}

@media only screen and (max-width: 860px) {
    .top-right {
        background-position: calc(100% + 80px) -135px;
    }
    .top-right .time {
        top: 0px;
        right: 40px;
    }
}

@media only screen and (max-width: 550px) {
    .controls.success h2 {
        display: none;
    }
}

@media only screen and (max-height: 510px) {
    .top-right {
        background-position: calc(100% + 80px) -180px;
    }
    .top-right .time {
        top: 0px;
        right: 40px;
    }
}